<div class="" [formGroup]="form">
  <div class="">
    <div class="grid grid-cols-4 gap-4">
      <div class="input">
        <app-input-select
          [parent]="form"
          label="City"
          key="city"
          [options]="options"
        ></app-input-select>
      </div>
      <div class="input">
        <app-input-text [parent]="form" label="Otro" key="name">
        </app-input-text>
      </div>
      <div class="input">
        <app-input-text [parent]="form" label="Otro" key="name">
        </app-input-text>
      </div>
      <div class="input">
        <app-input-text [parent]="form" label="Otro" key="name">
        </app-input-text>
      </div>
      <div class="input">
        <app-input-text [parent]="form" label="Otro" key="name">
        </app-input-text>
      </div>
      <div class="input">
        <app-input-text [parent]="form" label="Otro" key="name">
        </app-input-text>
      </div>
    </div>

    <div class="mt-4">
      <button (click)="onSubmitForm()">Guardar</button>
    </div>
  </div>
</div>
