<div class="" [formGroup]="form">
  <div class="">
    <app-card-layout titleCard="Datos generales del accidentado">
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="input">
          <app-input-text [parent]="form" label="RFC" key="rfcCustomer">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="CURP" key="curpCustomer">
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-text [parent]="form" label="Nombre" key="nameCustomer">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Apellido paterno"
            key="lastNameCustomer"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Apellido materno"
            key="surnameCustomer"
          >
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-text [parent]="form" label="Calle" key="streetCustomer">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="Colonia" key="suburbCustomer">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Número exterior"
            key="exteriorNumberCustomer"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Número interior"
            key="interiorNumberCustomer"
          >
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Código postal"
            key="postalCodeCustomer"
          >
          </app-input-text>
        </div>
        <div class="input col-span-3">
          <app-input-text
            [parent]="form"
            label="Entre calles"
            key="betweenStreetCustomer"
          >
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-select
            [parent]="form"
            label="Sexo"
            key="sexuallityCustomer"
            [options]="enumSexuallity"
          ></app-input-select>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="Edad" key="ageCustomer">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-select
            [parent]="form"
            label="¿Tiene hijos?"
            key="hasChildrenCustomer"
            [options]="enumYesNo"
          ></app-input-select>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Número de hijos"
            key="numberChildrenCustomer"
          >
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-select
            [parent]="form"
            label="Situación conyugal"
            key="maritalStatusCustomer"
            [options]="enumMaritalStatus"
          ></app-input-select>
        </div>
      </div>
    </app-card-layout>

    <app-card-layout titleCard="Datos e identificación de la empresa">
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="input">
          <app-input-text [parent]="form" label="RFC" key="rfcCompany">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Razón social"
            key="businessName"
          >
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-select
            [parent]="form"
            label="Linea de negocios"
            key="businessLine"
            [options]="enumBusinessLine"
          ></app-input-select>
        </div>
        <div class="input">
          <app-input-select
          [parent]="form"
          label="Agencias"
          key="agency"
          [options]="enumAgency"
        ></app-input-select>
        </div>
        <div class="input">
          <app-input-select
          [parent]="form"
          label="Hoteles"
          key="hotels"
          [options]="enumHotels"
        ></app-input-select>
        </div>
        <div class="input">
          <app-input-select
          [parent]="form"
          label="Life Center"
          key="lifeCenter"
          [options]="enumLifeCenter"
        ></app-input-select>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="card"></div>
        <div class="card-agency">
          <div *ngIf="form.get('agency')?.value">
            <div>
              Agencia: {{ getInfoAgency()?.name}}
            </div>
            <div>
              Razón social: {{ getInfoAgency()?.reason}}
            </div>
            <div>
              Ubicación: {{ getInfoAgency()?.location}}
            </div>
          </div>
         
        </div>

        <div class="card-hotels">
          <div *ngIf="form.get('hotels')?.value">
            <div>
              Hotel: {{ getInfoHotel()?.name}}
            </div>
            <div>
              Ubicación: {{ getInfoHotel()?.location}}
            </div>
          </div>
        </div>

        <div class="card-life-center">
          <div *ngIf="form.get('lifeCenter')?.value">
            <div>
              Life Center: {{ getInfoLifeCenter()?.lifeCenter}}
            </div>
            <div>
              Sucursal: {{ getInfoLifeCenter()?.Sucursal}}
            </div>
            <div>
              Ubicación: {{ getInfoLifeCenter()?.Ubicacion}}
            </div>
          </div>
         
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-text [parent]="form" label="Calle" key="streetCompany">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="Colonia" key="suburbCompany">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Número interior y exterior"
            key="numberCompany"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Código postal"
            key="postalCodeCompany"
          >
          </app-input-text>
        </div>
        <div class="input col-span-2">
          <app-input-text
            [parent]="form"
            label="Entre calles"
            key="betweenStreetCompany"
          >
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-select
            [parent]="form"
            label="Puesto laboral"
            key="jobTitle"
            [options]="enumJobTitle"
          ></app-input-select>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Departamento"
            key="departament"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="Area" key="area">
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Quien es el manager de tu area?"
            key="managerArea"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="Jefe de area" key="bossArea">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="Tel." key="phoneNumber">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="Correo" key="email">
          </app-input-text>
        </div>
      </div>
    </app-card-layout>

    <app-card-layout titleCard="Datos especificos del accidente">
      <div class="grid grid-cols-4 gap-4 mt-4">
        <div class="input">
          <app-input-text [parent]="form" label="Fecha" key="date" type="date">
          </app-input-text>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Cuando paso el accidente?"
            key="dateAccident"
            type="date"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿A que hora pasó?"
            key="timeAccidente"
            type="time"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Como ocurrio?"
            key="howDidItHappen"
          >
          </app-input-text>
        </div>
        <div class="input">
          <!-- <app-input-text [parent]="form" label="¿Como ocurrio?" key="name">
          </app-input-text> -->
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Qué actos inseguros y condiciones intervinieros en el accidente?"
            key="unsafeActs"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Consumiste algún medicamento que alterara tus reflejos?"
            key="didYouConsumeAnyMedication"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="¿Estabas solo(a)?" key="youWereAlone">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="¿Hubo testigos?" key="wereThereWitnesses">
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="Menciona la zona el cuerpo afectada"
            key="affectedBodyArea"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Acudió inmediatamente a su clinica asignada?"
            key="didYouGoToClinic"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿La lesión provocada por el accidente requirió hospitalización?"
            key="injuryCaused"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Recibió atención médica?"
            key="didYouReceiveMedicalAttention"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-select
            [parent]="form"
            label="Mencione donde recibió atención médica"
            key="whenReceiveMedicalAttention"
            [options]="enumMedicalAttention"
          ></app-input-select>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Cual es su número de seguro?"
            key="securityNumber"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text
            [parent]="form"
            label="¿Recibió incapacidad?"
            key="receivedDisability"
          >
          </app-input-text>
        </div>
        <div class="input">
          <app-input-text [parent]="form" label="¿Cuanto tiempo?" key="howLong">
          </app-input-text>
        </div>
      </div>
    </app-card-layout>

    <div class="mt-4 mb-4 flex justify-end">
     <div *ngIf="!dataDetail?.idIncident">
      <button (click)="onSubmitFormCreate()" class="inline-block rounded-full bg-blue-900 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Guardar</button>
     </div>
     <div *ngIf="dataDetail?.idIncident">
      <button (click)="onSubmitFormUpdate()" class="inline-block rounded-full bg-blue-900 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Actualizar</button>
     </div>
    </div>
  </div>
</div>
