<!-- <div [formGroup]="parent">
  <label
  for="small-input"
  class="block mb-2 text-sm font-medium text-gray-900"
  >Small input</label
>
<input
  type="text"
  id="small-input"
  [formControlName]="key"
  class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500"
/>

</div> -->

<div [formGroup]="parent" class="w-full">
  <label
    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
    for="grid-city"
  >
    City
  </label>
  <input
    [formControlName]="key"
    class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
    id="grid-city"
    type="text"
    placeholder=""
  />
</div>
